<div class="jumbotron text-center">
  <h1>Degra's World</h1>
  <p class="lead">Welcome to my Website!<br>
    It's still under construction, so be patient.<br>
    Right now registering doesn't do anything, since the chat is still anonymous.
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>A</h3>
    <p>a</p>
  </div>
  <div class="col-md-4">
    <h3>B</h3>
    <p>b</p>
  </div>
  <div class="col-md-4">
    <h3>C</h3>
    <p>c</p>
  </div>
</div>
